.logoContainer {
  padding-left: 0;
}

@media screen and (max-width: 1026px) {
  .searchBarContainer {
    max-width: unset;
  }
}

@media screen and (min-width: 1026px) {
  .searchBarContainer {
    margin-right: 8px;
  }
}

.infoCardContainer {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.infoCardContainer--vintage {
  background-color: #edcfd1;
}

.infoCardContainer--metal {
  background-color: #e1e1e1;
}

.infoCardHeadline {
  padding: 24px;
  border: 2px solid black;
  font-family: serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: black;
}

.infoCardCallActionContainer :global(.vtex-button) {
  border: transparent;
  color: white;
  background-color: gray;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  border: transparent;
  color: gray;
  background-color: white;
}
